<h1>Welcome to Bcrypt!</h1>
<hr align="left" width="100%">
<hr align="left|center|right">

         <h2>Entra a tu perfil </h2>
<!-- Aquí deberá ir la forma de HTML -->

<div id="slot-machine">
</div>
<br>
 <a href="/loogin_user" ><button id="sesion" type="button">Iniciar Sesión</button></a>
 <a href="/registrar" ><button id="sesion" type="button">Registrar</button></a>
 
