<h1>Welcome to Bcrypt!</h1>
<div>
  
  <form class="login" action="/profile" method="POST">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Continue" id="continue_l">
    <a href="/" ><button id="sesion" type="button">Regresar</button></a>
  </form>
</div>

