<h1>Welcome to Bcrypt!</h1>
<div>
 
  <form class="signin" action="/create_user" method="POST">
    <input type="text" name="username" placeholder="Nombre de usuario"><br>
    <input type="text" name="name" placeholder="Nombre"> <br>
    <input type="email" name="email" placeholder="Email"> <br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Continue" id="continue_s">
    <a href="/" ><button id="sesion" type="button">Regresar</button></a>
  </form>
</div>