<h1>Perfil  de <%= current_user.username %>!</h1>


  <p>Bienvenido <%= current_user.name %>:</p>
  <p># Este es tu perfil</p>
<div id="slot">
</div>
<li> <a href="/logout" ><button id="sesion" type="button">Salir</button></a> </li>